<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<div th:fragment="footer">
    <footer class="text-center text-lg-start text-white footer">
        <section>
            <div class="container text-center text-md-start">
                <div class="row ms-0 ms-md-5">
                    <div class="col-md-4 col-xl-2 mb-4 mt-4">
                        <h6 class="fw-bold mt-2 mt-md-0 mb-4" th:text="#{layout.footer.learn}">

                        </h6>
                        <p>
                            <a href="#" class="footer-href" th:text="#{layout.footer.programmingCourses}"></a>
                        </p>
                        <p>
                            <a href="#" class="footer-href" th:text="#{layout.footer.javaCourse}"></a>
                        </p>
                        <p>
                            <a href="#" class="footer-href " th:text="#{layout.footer.helpWithTasks}"></a>
                        </p>
                        <p>
                            <a href="#" class="footer-href" th:text="#{layout.footer.pricing}"></a>
                        </p>
                        <p>
                            <a href="#" class="footer-href" th:text="#{layout.footer.gameProjects}"></a>
                        </p>
                    </div>
                    <div class="col-md-4 col-xl-2 mb-4 mt-0 mt-md-4">
                        <h6 class="fw-bold mb-4" th:text="#{layout.footer.community}">

                        </h6>
                        <p>
                            <a href="#" class="footer-href" th:text="#{layout.footer.users}"></a>
                        </p>
                        <p>
                            <a href="#" class="footer-href" th:text="#{layout.footer.articles}"></a>
                        </p>
                        <p>
                            <a href="#" class="footer-href" th:text="#{layout.footer.forum}"></a>
                        </p>
                        <p>
                            <a href="#" class="footer-href" th:text="#{layout.footer.chat}"></a>
                        </p>
                        <p>
                            <a href="#" class="footer-href" th:text="#{layout.footer.successStories}"></a>
                        </p>
                    </div>
                    <div class="col-md-4 col-xl-2 mb-4 mt-0 mt-md-4">
                        <h6 class="fw-bold mb-4" th:text="#{layout.footer.company}"></h6>
                        <p>
                            <a href="#" class="footer-href" th:text="#{layout.footer.aboutUs}"></a>
                        <p>
                        <p>
                            <a href="#" class="footer-href" th:text="#{layout.footer.contacts}"></a>
                        <p>
                        <p>
                            <a href="#" class="footer-href" th:text="#{layout.footer.reviews}"></a>
                        <p>
                        <p>
                            <a href="#" class="footer-href" th:text="#{layout.footer.faq}"></a>
                        <p>
                        <p>
                            <a href="#" class="footer-href" th:text="#{layout.footer.support}"></a>
                        <p>
                    </div>

                    <div class="col-xl-5 mb-4 mt-0 mt-md-4">
                        <img src="/static/images/logo/jr.svg" alt="JavaRush" class="mb-3">
                        <p th:text="#{layout.footer.desc}">
                        </p>
                        <h6 th:text="#{layout.footer.followUs}"></h6>
                        <div>
                            <a href="#" type="button" class="btn btn-sm btn-outline-light me-2">
                                <i class="fab fa-facebook-f pe-1"></i>
                            </a>
                            <a href="#" type="button" class="btn btn-sm btn-outline-light me-2">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <a href="#" type="button" class="btn btn-sm btn-outline-light me-2">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                            <a href="#" type="button" class="btn btn-sm btn-outline-light me-2">
                                <i class="fab fa-youtube"></i>
                            </a>
                            <a href="#" type="button" class="btn btn-sm btn-outline-light me-2">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a href="#" type="button" class="btn btn-sm btn-outline-light">
                                <i class="fab fa-telegram"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="text-center pb-4" th:text="#{layout.footer.programmersMade}"></div>
    </footer>
</div>
</html>
