<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="footer">
    <footer class="text-center text-lg-start text-white footer">
        <section>
            <div class="container text-center text-md-start">
                <div class="row ms-0 ms-md-5">
                    <div class="col-md-4 col-xl-2 mb-4 mt-4">
                        <h6 class="fw-bold mt-2 mt-md-0 mb-4" th:text="#{footer.learn}">

                        </h6>
                        <p>
                            <a class="footer-href" href="#" th:text="#{footer.link.programming.courses}"></a>
                        </p>
                        <p>
                            <a class="footer-href" href="#" th:text="#{footer.link.java.course}"></a>
                        </p>
                        <p>
                            <a class="footer-href" href="#" th:text="#{footer.link.help.tasks}"></a>
                        </p>
                        <p>
                            <a class="footer-href" href="#" th:text="#{footer.link.pricing}"></a>
                        </p>
                        <p>
                            <a class="footer-href" href="#" th:text="#{footer.link.game.projects}"></a>
                        </p>
                    </div>
                    <div class="col-md-4 col-xl-2 mb-4 mt-0 mt-md-4">
                        <h6 class="fw-bold mb-4" th:text="#{footer.community}">

                        </h6>
                        <p>
                            <a class="footer-href" href="#" th:text="#{footer.link.users}"></a>
                        </p>
                        <p>
                            <a class="footer-href" href="#" th:text="#{footer.link.articles}"></a>
                        </p>
                        <p>
                            <a class="footer-href" href="#" th:text="#{footer.link.forum}"></a>
                        </p>
                        <p>
                            <a class="footer-href" href="#" th:text="#{footer.link.chat}"></a>
                        </p>
                        <p>
                            <a class="footer-href" href="#" th:text="#{footer.link.success_stories}"></a>
                        </p>
                    </div>
                    <div class="col-md-4 col-xl-2 mb-4 mt-0 mt-md-4">
                        <h6 class="fw-bold mb-4" th:text="#{footer.company}"></h6>
                        <p>
                            <a class="footer-href" href="#" th:text="#{footer.link.about_us}"></a>
                        <p>
                        <p>
                            <a class="footer-href" href="#" th:text="#{footer.link.contacts}"></a>
                        <p>
                        <p>
                            <a class="footer-href" href="#" th:text="#{footer.link.reviews}"></a>
                        <p>
                        <p>
                            <a class="footer-href" href="#" th:text="#{footer.link.faq}"></a>
                        <p>
                        <p>
                            <a class="footer-href" href="#" th:text="#{footer.link.support}"></a>
                        <p>
                    </div>

                    <div class="col-xl-5 mb-4 mt-0 mt-md-4">
                        <img alt="JavaRush" class="mb-3" src="/static/images/logo/jr.svg">
                        <p th:text="#{footer.text}">
                        </p>
                        <h6 th:text="#{footer.follow_us}"></h6>
                        <div>
                            <a class="btn btn-sm btn-outline-light me-2" href="#" type="button">
                                <i class="fab fa-facebook-f pe-1"></i>
                            </a>
                            <a class="btn btn-sm btn-outline-light me-2" href="#" type="button">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <a class="btn btn-sm btn-outline-light me-2" href="#" type="button">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                            <a class="btn btn-sm btn-outline-light me-2" href="#" type="button">
                                <i class="fab fa-youtube"></i>
                            </a>
                            <a class="btn btn-sm btn-outline-light me-2" href="#" type="button">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a class="btn btn-sm btn-outline-light" href="#" type="button">
                                <i class="fab fa-telegram"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="text-center pb-4">
            <p th:text="#{footer.citation}"></p>
        </div>
    </footer>
</div>
</html>
