<!DOCTYPE html>
<html th:lang="${#locale}" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="authUser" type="com.javarush.jira.login.AuthUser"*/-->

<th:block th:replace="~{layout/main::page(title='JiraRush: mini bugtracking system',appMain=~{::appMain})}">
    <appMain>
        <h1 th:text="#{index.homepage}">JiraRush Home page</h1>
        <div>
            <form action="#" method="get">
                <label for="language-select">Language:</label>
                <select id="language-select" name="lang" onchange="this.form.submit()">
                    <option value="en" th:text="#{lang.en}">English</option>
                    <option value="ru" th:text="#{lang.ru}">Russian</option>
                    <option value="es" th:text="#{lang.es}">Spanish</option>
                </select>
            </form>
        </div>
        <div th:if="${authUser} != null">
            <form action="/ui/logout" method="post">
                <button class="btn btn-primary btn-lg mt-3" type="submit" th:text="#{logout.button}">Logout</button>
            </form>
        </div>
    </appMain>
</th:block>
