<!DOCTYPE html>
<html th:lang="${#locale}" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <span th:fragment="menu">
        <a href=".?lang=en">EN</a>
        <a href=".?lang=ru">RU</a>
    </span>
    <title th:text="#{text.mailtitle}"></title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>

</head>
<body>

<p th:text="'#{text.mailhello}, ' + ${user.firstName} + '.'"/>
<p>"#{text.mailconfirmation}"</p>
<a th:href="${confirmationUrl}" th:text="#{text.mailconfirm.button}"></a>
</body>
</html>