<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{mail.title}">JiraRush - подтверждение почты</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<span th:fragment="menu">
          Language
          <a href="./?lang=en">EN</a>
          <a href="./?lang=ru">RU</a>
    </span>
<p th:text="#{mail.greeting} + ', ' + ${user.firstName} + '.'"/>
<p th:text="#{mail.text}">Чтобы завершить настройку учетной записи и начать пользоваться JiraRush, подтвердите, что вы правильно указали вашу
    электронную почту.</p>
<a th:href="${confirmationUrl}" th:text="#{mail.confirmation}">Подтвердить почту</a>
</body>
</html>