<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title th:text="#{mail.reset}">JiraRush - установить новый пароль</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<span th:fragment="menu">
          Language
          <a href="?lang=en">EN</a>
          <a href="?lang=ru">RU</a>
    </span>
<p th:text="#{mail.greeting} + ', ' + ${user.firstName} + '.'"/>
<p th:text="#{mail_pas.text}+ ' ' + ${user.email} + '.'"/>
<a th:href="${resetUrl}" th:text="#{mail_pas.setup}">Установить пароль</a>
</body>
</html>