<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title th:text="#{mails.password_reset.title}">JiraRush - установить новый пароль</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<p th:text="#{hello} + ',' + ${user.firstName} + '.'"/>
<p th:text="#{mails.password_reset.text}' + ${user.email} + '.'"/>
<a th:text="#{mails.password_reset.set_password}" th:href="${resetUrl}">Установить пароль</a>
</body>
</html>