<!DOCTYPE html>
<html th:lang="${#locale}" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title th:text="#{email.reset.title}">JiraRush - установить новый пароль</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<p th:text="#{email.reset.text1} + ', ' + ${user.firstName} + '.'"/>
<p th:text="#{email.reset.text2} + ' ' + ${user.email} + '.'"/>
<a th:text="#{email.reset.url}" th:href="${resetUrl}">Установить пароль</a>
</body>
</html>