<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<script th:src="@{/static/js/common.js}" defer></script>
<script th:src="@{/static/js/users.js}" defer></script>

<th:block th:replace="~{layout/main::page(title='Users',appMain=~{::appMain})}">
    <appMain>
        <div class="jumbotron pt-4">
            <div class="container">
                <h3 class="text-center">Users</h3>
                <button th:onclick="add()" class="btn btn-primary">Add</button>
                <table class="table table-striped" id="datatable">
                    <thead>
                    <tr>
                        <th th:text="#{admin.users.firstName}"></th>
                        <th th:text="#{admin.users.lastName}"></th>
                        <th th:text="#{admin.users.displayName}"></th>
                        <th th:text="#{admin.users.email}"></th>
                        <th th:text="#{admin.users.roles}"></th>
                        <th th:text="#{admin.users.registered}">Registered</th>
                        <th th:text="#{admin.users.active}"></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>

        <div class="modal fade" tabindex="-1" id="editRow">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="modalTitle"></h4>
                        <button type="button" class="close" data-bs-dismiss="modal" onclick="closeNoty()">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form id="detailsForm">
                            <input type="hidden" id="id" name="id">

                            <div class="form-group">
                                <label for="firstName" class="col-form-label" th:text="#{admin.users.firstName}"></label>
                                <input type="text" class="form-control" id="firstName" name="firstName"
                                       th:placeholder="#{admin.users.firstName}" >
                            </div>

                            <div class="form-group">
                                <label for="lastName" class="col-form-label" th:text="#{admin.users.lastName}"></label>
                                <input type="text" class="form-control" id="lastName" name="lastName"
                                       th:placeholder="#{admin.users.lastName}">
                            </div>

                            <div class="form-group">
                                <label for="displayName" class="col-form-label"  th:text="#{admin.users.displayName}"></label>
                                <input type="text" class="form-control" id="displayName" name="displayName"
                                       th:placeholder="#{admin.users.displayName}">
                            </div>

                            <div class="form-group">
                                <label for="email" class="col-form-label"  th:text="#{admin.users.email}"></label>
                                <input type="email" class="form-control" id="email" name="email"
                                       th:placeholder="#{admin.users.email}">
                            </div>

                            <div class="form-group">
                                <label for="password" class="col-form-label"  th:text="#{admin.users.password}"></label>
                                <input type="password" class="form-control" id="password" name="password"
                                       th:placeholder="#{admin.users.password}">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="closeNoty()">
                            <span class="fa fa-close"></span>
                            Cancel
                        </button>
                        <button type="button" class="btn btn-primary" onclick="save()">
                            <span class="fa fa-check"></span>
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </appMain>
</th:block>
