<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{layout/main::page(title='Register',appMain=~{::appMain})}">
    <appMain>
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-md-8 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-3 p-md-5 text-center">
                        <h3 class="mb-3" th:text="#{registration.header}"></h3>
                        <form action="/ui/register" method="post" th:object="${userTo}">
                            <div class="form-outline mb-4">
                                <input th:placeholder="#{registration.name.first}" required
                                       th:class="${#fields.hasErrors('firstName')} ? 'form-control is-invalid' : 'form-control'"
                                       th:field="*{firstName}" type="text"/>
                                <span class="help-block" th:if="${#fields.hasErrors('firstName')}">
									<ul>
										<li class="text-danger text-start"
                                            th:each="err : ${#fields.errors('firstName')}" th:text="${err}"/>
									</ul>
								</span>
                            </div>
                            <div class="form-outline mb-4">
                                <input th:placeholder="#{registration.name.last}" th:class="${#fields.hasErrors('lastName')} ? 'form-control is-invalid' : 'form-control'"
                                       th:field="*{lastName}"
                                       type="text"/>
                                <span class="help-block" th:if="${#fields.hasErrors('lastName')}">
									<ul>
										<li class="text-danger text-start" th:each="err : ${#fields.errors('lastName')}"
                                            th:text="${err}"/>
									</ul>
								</span>
                            </div>
                            <div class="form-outline mb-4">
                                <input th:placeholder="#{registration.email}" required
                                       th:class="${#fields.hasErrors('email')} ? 'form-control is-invalid' : 'form-control'"
                                       th:field="*{email}" type="text"/>
                                <span class="help-block" th:if="${#fields.hasErrors('email')}">
									<ul>
										<li class="text-danger text-start" th:each="err : ${#fields.errors('email')}"
                                            th:text="${err}"/>
									</ul>
								</span>
                            </div>
                            <div class="form-outline mb-4">
                                <input th:placeholder="#{registration.password}" required
                                       th:class="${#fields.hasErrors('password')} ? 'form-control is-invalid' : 'form-control'"
                                       th:field="*{password}" type="password"/>
                                <span class="help-block" th:if="${#fields.hasErrors('password')}">
									<ul>
										<li class="text-danger text-start" th:each="err : ${#fields.errors('password')}"
                                            th:text="${err}"/>
									</ul>
								</span>
                            </div>
                            <div class="row">
                                <div class="d-grid gap-2">
                                    <button class="btn btn-success btn-lg" type="submit" th:text="#{registration.create.account}">Create account</button>
                                </div>
                            </div>
                        </form>
                        <div class="row mt-4">
                            <div class="col-5">
                                <hr>
                            </div>
                            <div class="col-2">
                                <p th:text="#{registration.or}"></p>
                            </div>
                            <div class="col-5">
                                <hr>
                            </div>
                        </div>
                        <p class="mt-3 mb-4" th:text="#{registration.register.socials}">
                        </p>
                        <a class="btn btn-secondary btn-lg me-2" href="/oauth2/authorization/google"
                           type="button">
                            <i class="fa-brands fa-google"></i>
                        </a>
                        <a class="btn btn-dark btn-lg me-2" href="/oauth2/authorization/github" type="button">
                            <i class="fa-brands fa-github"></i>
                        </a>
                        <a class="btn btn-warning btn-lg" href="/oauth2/authorization/gitlab" type="button">
                            <i class="fa-brands fa-gitlab"></i>
                        </a>
                        <p class="mt-3 mb-2 mb-md-0" style="font-size:0.8em">
                            <span th:text="#{registration.already_have_account}"></span>
                            <a href="/view/login" th:text="#{registration.sign_in}"></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </appMain>
</th:block>
